body {
    background-color: #343a40;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #17a2b8;
}

.chart-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.chart-box {
    width: 350px;
    height: 300px;
    background-color: #454d55;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

textarea {
    width: 80%;
    height: 500px; /* Updated height */
    background-color: #495057;
    color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    resize: none;
    overflow-y: auto;
    margin-bottom: 20px;
}

.message-input {
    width: 80%;
    display: flex;
}

.message-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #495057;
    color: #ffffff;
}

.message-input button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.message-input button:hover {
    background-color: #0056b3;
}

.connection-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.connection-status {
    font-weight: bold;
    margin-right: 10px;
    color: #6c757d;
    display: flex;
    align-items: center;
}

.connection-status img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Add CSS for the sending animation */
#sendAnimation {
    position: relative; /* Change position to relative */
    width: 100%; /* Set width to 100% */
    height: 2px;
    background-color: #007bff; /* Line color */
    animation: moveLine 0.20s linear forwards;
    display: none; /* Initially hidden */
    margin-bottom: 4px;
}

@keyframes moveLine {
    0% {
        left: 0;
        width: 0;
    }
    100% {
        left: 0;
        width: 100%;
    }
}

/* Add CSS for responsiveness */
@media only screen and (max-width: 600px) {
    .chart-container {
        flex-direction: column;
        align-items: center;
    }

    .chart-box {
        width: 80%;
        margin-bottom: 20px;
    }

    .message-input {
        width: 100%;
    }

    #sendAnimation {
        width: 100%;
    }
}

